<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Hello World red color</h1>
  </body>
  <div class="test-image">
    <img src="/images/valorant.png">
  </div>
</html>